@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;  
  }

  .tourbillon-text-color {
    color:  #F9F6F2;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  html {
    background: linear-gradient(135deg, #1e1512 0%, #2a211c 50%, #3b2f26 100%);
    min-height: 100vh;
  }

  body {
    color: var(--foreground);
    margin-top: 3rem;
  }
}
